* {
    font-family: 'Wellfleet', cursive;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Cedarville Cursive', cursive;
}
h1 {
    text-align: center;
}

img {
    padding: 60px;
    width: 300px;
    border-radius: 180px;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(https://wallpaperaccess.com/full/3513670.jpg);
    height: 660px;
}

.Presnt {
    border-radius: 30px;
    padding: 20px;
    height: 100px;
    width: 100px;
    background-image: url(/img/Diseño\ sin\ título\ \(12\).png);
    display: flex;
}

.Cuadros_present {
    display: flex;
    flex-direction: row;
    width: 150px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 200px;
}

section img {
    border-radius: 60px;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .6s ease;
}

section img:hover {
    padding: 10px;
    cursor: cell;
    width: 450px;
    height: 200px;
    opacity: 1;
    filter: contrast(120%);
}
  button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: 0 0 5px #378dd4,
    0 0 25px;
    background-color: transparent;
    font-weight: semibold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem; /* aeroventilas nuestro botón */
    border: 2px solid #eee; /* nos ayudará con el efecto */
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease; /* todas las trancisiones durarán un segundo */
    box-shadow: .5em .5rem 1rem #ccc,
      -.5em -.5rem 1rem #fff
      /* desplazar x,  y, blur radius, color */
  }
  button:hover {
    box-shadow: .5em .5rem 1rem #fff
      , -.5em -.5rem 1rem #ccc;
    background-color: rgb(148, 44, 245);
    box-shadow: 0 0 5px rgb(143, 23, 255),
    0 0 25px rgb(143, 23, 255), 0 0 50px rgb(143, 23, 255),
    0 0 100px rgb(143, 23, 255), 0 0 200px rgb(143, 23, 255);
  }
  button:active {
    box-shadow: inset .2rem .2rem 1rem #fff
      , inset -.2rem -.2rem 1rem #ccc;
    }
    a {
        text-decoration: none;
        color: black;
  }